@{
    ViewBag.Title = "Home Page";
}


<hr class="my-3" />
<h4>Administration</h4>
<hr />
<p>@Html.ActionLink("Categories", "Index", "MealPlanCategory")</p>
<p>@Html.ActionLink("Diet Plans", "Index", "DietPlan")</p>
<p>@Html.ActionLink("Dishes", "Index", "Dish")</p>
<p>@Html.ActionLink("Ingredients", "Index", "Ingredient")</p>
<p>@Html.ActionLink("Meal Plans", "Index", "MealPlan")</p>
<p>@Html.ActionLink("Nutrients", "Index", "Nutrient")</p>
<p>@Html.ActionLink("Units of Measure", "Index", "Uom")</p>

